body,
html {
    height: 100%
}

h1{
  margin-bottom: 20px;
  color: #f3c623;
  letter-spacing: .6rem;
  text-shadow: 2px 2px 2px #f3237d;
}

p{
  color: #844685;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: large;
  letter-spacing: 0.02rem;
}

h3{
  color: #10375c;
  text-shadow: 1px 1px 1px mediumslateblue;
  /* color: #ff007f;
  text-shadow: 1px 1px 1px #ffbf00; */
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: larger;
  letter-spacing: .1rem;
}

li{
  color: #844685;
  font-weight: bold;
  font-size: large;
  letter-spacing: 0.02rem;
}

.container{
  background: transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: 1;
  /* background-image: url(cool-background.png);
  background-size: cover; */
  margin-top: 12vh;
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
  justify-content: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.left{
  display: inline-block;
  border: 2px yellowgreen;
}

.right{
  margin: 5vw 10vh;
  font-family: sans-serif;
  display: flex;
  align-items: top;
  justify-content: center;
}

#particles-js canvas {
    display: block;
    background-image: linear-gradient(to bottom right, #51d0de,#d9d9d9,#bf4aa8);
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.social-media{
  margin-right: 20px;
  display: flex;
  margin-bottom: 20px;
}

.social-media a{
  color: #48128f;
  font-size: 25px;
  text-decoration: none;
  padding: 10px 10px;
  transition: 0.5s;
  opacity: 0.8;
}

.social-media a:hover{
  transition: 0.5s;
  color: white;
  opacity: 1;
}